body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
section:nth-child(even){
    background-color:lightgrey;
}
section:nth-child(odd){
    background-color:white;
}
/* Body Header */


#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url('971.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */
nav{
    position: fixed;
    background-image:linear-gradient(-75deg,#2857a4 ,#403066);
    width: 100vw;
    z-index: 999999999999;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


#my-name{
    text-shadow: 1px 1px 2px rgb(244, 145, 145), 0 0 1em blue, 0 0 0.2em blue;}

.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    /* position: relative; */
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
 
 
.section-heading{
    width:auto;
    padding: 20px 10px 10px;
    margin:10px auto;
    font-weight:400;
}
.section-heading span{
    font-size:40px;
    font-family:sans-serif;
    color: #2857a4;
    display:inline-block;
    padding-top:10px;
    margin-right:0.5rem;
    
}
#skills{
    height:auto;
    width:100%;
    text-align:center;
    /* position:relative; */
    margin-top:5rem;   
}
.skill-name{
    color:#fff;
}

    

.skills-display{
    padding:2rem;
    display:flex;
   margin:auto; 
     align-items:center;
     flex-wrap:wrap;
    justify-content:space-around;
    width:70%;
}
.skill-progress{
   width:10rem;
    height:2.3rem;
    border:2px solid black;
    border-radius:1rem;
    margin:2rem;
    box-shadow:10px 10px 10px 5px grey ;
}

.percent1{
    background-color:blue;
    width:49%;
      border:2px solid blue;
    border-radius:1rem;
}
.percent2{
    background-color:orange;
    width:80%;
      border:2px solid orange;
    border-radius:1rem;
}
.percent3{
    background-color:lightblue;
    width:70%;
      border:2px solid lightblue;
    border-radius:1rem;
}
.percent4{
    background-color:green;
    width:75%;
      border:2px solid green;
    border-radius:1rem;
}
.percent5{
    background-color:purple;
    width:75%;
      border:1px solid purple;
    border-radius:1rem;
}
.percent6{
    background-color:yellow;
    width:80%;
      border:1px solid yellow;
    border-radius:1rem;
}
#project{
      height:auto;
    width:100%;
    text-align:center;
    /* position:relative; */
    margin-top:5rem;
}
.project-display{
 display:flex;
   margin:auto; 
     align-items:center;
     flex-wrap:wrap;
    
    justify-content:space-around;
    width:70%;
}
.p-img{
    flex-direction:row;
    position:relative;
}
.project-img{
    opacity: 1;
  display: block;
  width: 15rem;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.p-img:hover .project-img{
 opacity:0.02;  
    box-shadow:10px 10px 10px 10px black;
}
.middle{
   transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   text-align:center;
}
.text{
   
    color:black;
    font-family:sans-serif;
     font-size:1.5rem;
}
.p-img:hover .middle{
    opacity:1;
}
#contact{
      height:auto;
    width:100%;
    text-align:center;
    /* position:relative; */
    background-image:linear-gradient(90deg,#2857a4,#403066);
    margin-top:5rem;
   
}
#contact h1 span{
    color:white;
}
.contact-info{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
}
.user-details{
    margin: 0 8rem;
    
}
.details{
    border:none;
    background:transparent;
    border-bottom:1px solid white;
    width:25rem;
}
.touch{
    font-size:1rem;
    text-align:left;
    margin:0 8rem 1rem;
    color:white;
}
.send-button{
    margin-top:40px;
    padding:10px;
    background:transparent;
    color:white;
    border: 2px solid white;
    cursor:pointer;
}
.send-button:hover{
    background: #403066 ;
}
#experience{
    width:100%;
    text-align:center;
    height:auto;
    margin-top:4rem;
}

.timeline{
    position:relative;
    
    width:100%;
    margin-top:4rem;
}
.timeline-box{
    position:relative;
      
    width:40%;
    min-height:150px;
    margin:2px 3%;
}
.timeline-box:nth-child(even){
    left:53%;
}
.timeline-box:nth-child(even)::before{
    content:'';
    border-radius:50%;
    top:23%;
    height:0.8rem;
    width:0.8rem;
    position:absolute;
      right:113.5%;
    background-color:lightgrey;
    z-index:1;
}
.timeline-box:nth-child(odd)::after{
    content:'';
     position:absolute;
    top:23%;
    left:116%;
    border-radius:50%;
    height:0.8rem;
    width:0.8rem;
   z-index:1;
    background-color:lightgrey;
}
.timeline-divider{
    position:absolute;
    border: 1px dashed cyan;
    width:0;
    height:90%;
    left:50%;
    top:2%;
    
}
.timeline-icon {
    position:sticky;
     top:10%;
     z-index:2;
    margin:0 15.5px 0;
    transform:rotate(180deg);
}
.timeline-box-content{
    
    text-align:right;
    
}
.timeline-box-header::before{
    content:""; 
    display:inline-block;
    width:55px;
    height:55px;
    background-size:cover;
    position:absolute;
    right:18rem;
    /* background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png"); */
       
}
     

.timeline-box-header h4{
    color:rgba(0 ,0 ,255 ,0.8);
    margin:0;
    font-size:1.5rem;
}
.timeline-box-header h5{
    color:#ffa500;
    font-weight:200;
     margin:10px 0 0 0;
      font-size:1.3rem;
}
.timeline-box-header p{
    color:grey;
    font-size:1rem;
    margin:0 0 20px 0 ;
}
.timeline-box-description{
    color:grey;
    font-size:1rem;
    text-align:justify;
    line-height:1;
}
/*********Education**********/
#education{
    width:100%;
    text-align:center;
    height:auto;
    margin-top:4rem;
}

.qualification{
    position:relative;
    
    width:100%;
    margin-top:4rem;
}
.qualification-type{
    position:relative;
      
    width:40%;
    min-height:150px;
    margin:2px 3%;
}
.qualification-type:nth-child(even){
    left:53%;
}
.qualification-type:nth-child(even)::before{
    content:'';
    border-radius:50%;
    top:23%;
    height:0.8rem;
    width:0.8rem;
    position:absolute;
      right:113.5%;
    background-color:darkgrey;
    z-index:1;
}
.qualification-type:nth-child(odd)::after{
    content:'';
     position:absolute;
    top:23%;
    left:116%;
    border-radius:50%;
    height:0.8rem;
    width:0.8rem;
   z-index:1;
    background-color:darkgrey;
}
.qualification-divider{
    position:absolute;
    border: 1px dashed cyan;
    width:0;
    height:90%;
    left:50%;
    top:2%;
    
}
.qualification-icon {
    position:sticky;
     top:10%;
     z-index:2;
    margin:0 15.5px 0;
    transform:rotate(180deg);
}
.qualification-type-content{
    
    text-align:right;
    
}
.qualification-type-header::before{
    content:""; 
    display:inline-block;
    width:85px;
    height:55px;
    background-size:cover;
    position:absolute;
    right:18rem;
    /* background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png"); */
       
}
     

.qualification-type-header h4{
    color:rgba(0 ,0 ,255 ,0.8);
    margin:0;
    font-size:1.5rem;
}
.qualification-type-header h5{
    color:#ffa500;
    font-weight:200;
     margin:10px 0 0 0;
      font-size:1.3rem;
}
.qualification-type-header p{
    color:grey;
    font-size:1rem;
    margin:0 0 20px 0 ;
}
.qualification-type-description{
    color:grey;
    font-size:1rem;
    text-align:justify;
    line-height:1;
}